ul {
  list-style: none;
}

h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 120%;
  margin-bottom: 20px;
  color: #fff;
}

.filter-menu {
  padding: 20px;
}
.filter-menu li {
  display: inline-block;
  padding: 10px 18px;
  background: #00305B;
  color: #fff;
  cursor: pointer;
}
.filter-menu li:hover,
.filter-menu li.current {
  background: #00305B;
}

.filter-item a {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.filter-item a.active {
  width: 100%;
  transition: all 0.5s ease;
}

.filter-item a.delete {
  width: 0;
  height: 0;
  padding: 0;
  transition: all 0.5s ease;
}
