* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}
html {
  scroll-behavior: smooth;
}
/* Heder section Stle Begin */

/* header {
  overflow: hidden;
  position: relative;
  background: url(../images/bg-img/banner.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
} */

.header-text {
  margin-left: 12%;
  margin-top: 16%;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  animation: text-up 1.5s linear;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.header-text h1 {
  font-weight: 700;
  font-size: 50px;
  display: block;
  margin-bottom: 15px;
  background: -webkit-linear-gradient(#ff9696, #ffe89e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-text p {
  margin-bottom: 50px;
}

.email-btm-group .f-a {
  text-decoration: none;
  color: whitesmoke;
  padding: 15px 45px;
  border: 2px solid #fc6060;
  border-radius: 20px;
  transition: all 0.5s ease-out;
}

.email-btm-group .l-a {
  font-style: italic;
  margin-left: 40px;
  text-decoration: none;
  color: whitesmoke;
  transition: all 0.5s ease-out;
}

.email-btm-group .f-a:hover {
  font-weight: 500;
  -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  background-color: #fc6060;
  color: #ffffff;
}

.email-btm-group .l-a:hover {
  color: #fc6060;
}

.overlay {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
/* Heder section Stle End */
/* All similar content Styling  */

section {
  padding: 100px 0;
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.blog .blog-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content {
  align-items: flex-start;
}
section .title {
  position: relative;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  color: #fff;
}

section .title::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 3px;
  background: #111;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

section .title::after {
  position: absolute;
  background: #111;
  font-size: 20px;
  color: crimson;
  bottom: -12px;
  padding: 5px;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
}
/* About section Stle Begin */

.about {
  font-family: Arial, Helvetica, sans-serif;
}

.about .title::after {
  content: "Who I am";
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .left img {
  border-radius: 6px;
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right .text span {
  color: crimson;
}

.about .about-content .right p {
  text-align: justify;
  margin-bottom: 40px;
}

.about .about-content .right a {
  text-decoration: none;
  color: #fc6060;
  padding: 7px 45px;
  border: 2px solid #fc6060;
  border-radius: 20px;
  transition: all 0.5s ease-out;
}

.about .about-content .right a:hover {
  font-weight: 500;
  -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  background-color: #fc6060;
  color: #ffffff;
}

.about .about-content .column {
  width: 50%;
}
/* About section Style End */
/* Services section Style Begin */

.services .title::after,
.teams .title::after {
  background: #111;
  content: "What I Provide";
}

.services,
.teams {
  background: #111;
  color: whitesmoke;
}

.services .title::before,
.teams .title::before {
  background: #fff;
}

.services .serv-content .services-card .staff-box {
  transition: all 0.5s ease;
}

.services .serv-content .services-card:hover .staff-box {
  transform: scale(1.07);
}

.services .serv-content .services-card {
  width: calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.5s ease;
  height: 250px;
}

.services .serv-content .services-card:hover {
  background: rgba(15, 15, 15, 0.15);
}

.services .serv-content .services-card i {
  font-size: 40px;
  color: #fc6060;
}

.services .serv-content .services-card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
/* Skills Style  Begin */

.skills .title::after {
  content: "What I Know";
}

.skills .skills-content .column {
  width: calc(50% - 30px);
}

.skills .skills-content .left .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.skills .skills-content .left a {
  text-decoration: none;
  color: #fc6060;
  padding: 7px 45px;
  border: 2px solid #fc6060;
  border-radius: 20px;
  transition: all 0.5s ease-out;
}

.skills .skills-content .left a:hover {
  font-weight: 500;
  -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  background-color: #fc6060;
  color: #ffffff;
}

.skills .skills-content .right .bars {
  margin-bottom: 15px;
}

.skills .skills-content .right .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills .skills-content .right span {
  font-weight: 600;
  font-size: 18px;
}

.skills .skills-content .right .line {
  height: 5px;
  width: 100%;
  background: lightgray;
  position: relative;
}

.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 90%;
  left: 0;
  top: 0;
  background: #fc6060;
}

.skills .skills-content .right .html::before {
  width: 90%;
}

.skills .skills-content .right .css::before {
  width: 90%;
}

.skills .skills-content .right .bootstrap::before {
  width: 80%;
}

.skills .skills-content .right .js::before {
  width: 70%;
}

.skills .skills-content .right .react::before {
  width: 70%;
}

/* Teams Style  Begin */

.teams .title::after {
  content: "Who With Me";
}

.teams .carousel .teams-card {
  background: #222;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  margin: 20px 0;
  transition: all 0.5s ease;
  width: 350px;
}

.teams .carousel .teams-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #fc6060;
  transition: all 0.5s ease;
}

.teams .carousel .teams-card .staff-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.teams .carousel .teams-card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

.teams .carousel .teams-card:hover {
  background: rgba(15, 15, 15, 0.15);
}

.teams .carousel .teams-card:hover .staff-box {
  transform: scale(1.07);
}

.teams .carousel .teams-card:hover img {
  transform: rotate(10deg);
  border: 5px solid #fff;
}

.project .title::after {
  content: "Portfolio";
}
.project .portfolio-img {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hover-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 85%;
  height: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.4);
  color: #fff !important;
  text-decoration: none;
  padding: 20px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.hover-content:hover {
  opacity: 1;
}
.project .portfolio-img img {
  cursor: pointer;
  border: 3px solid #999;
  margin: 20px 0;
  border-radius: 15px;
  width: 500px;
  height: 300px;
  transition: all 1s ease;
}

/* Blog Style  Begin */

.blog .title::after {
  content: "Get In Touch";
}

.blog .blog-content .column {
  width: calc(50% - 30px);
}

.blog .blog-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.blog .blog-content .left p {
  text-align: justify;
}

.blog .blog-content .left .icons {
  margin: 10px 0;
}

.blog .blog-content .rows {
  display: flex;
  height: 65px;
}

.blog .blog-content .rows .info {
  margin-left: 30px;
}

.blog .blog-content .rows i {
  font-size: 25px;
  color: #fc6060;
}

.blog .blog-content .info .head {
  font-weight: 500;
}

.blog .blog-content .info .subtitle {
  color: #333;
}

.blog .right form .fields {
  display: flex;
}

.blog .right form .field,
.blog .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.blog .right form .name {
  margin-right: 10px;
}

.blog .right form .email {
  margin-left: 10px;
}

.blog .right form textarea {
  min-height: 50px;
}

.blog .right form .field input,
.blog .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
}

footer {
  text-align: center;
  background: #111;
  padding: 20px 23px;
  color: #fff;
}

footer span a {
  color: #fc6060;
}

footer span i {
  margin-left: 10px;
  font-size: 20px;
}
/* Responsive Media Query  Begin */

@media (max-width: 767px) {
  header {
    background-size: cover;
    height: 90vh;
    /* background: url(../images/galareya/white/10.8.png) right; */
    background-size: cover;
    background-attachment: fixed;
  }
  .header-text h1 {
    font-size: 42px;
  }
  .header-text {
    margin-top: 50%;
    margin-left: 4%;
  }
  .email-btm-group .l-a {
    display: none;
  }
  .max-width {
    padding: 0 23px;
  }
  .about .about-content .left img {
    height: 200px;
    width: 200px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    margin: 0 auto 20px;
    justify-content: center;
  }
  .about .about-content .right {
    flex: 100%;
  }
  section .title::after {
    font-size: 16px;
  }
  section .title {
    font-size: 30px;
  }
  .services .serv-content .services-card {
    width: 100%;
    margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .blog .blog-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
  .project .portfolio-img img {
    width: 300px;
    height: 150px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    height: 80vh;
  }
  .header-text h1 {
    font-size: 90px;
  }
  .header-text {
    margin-top: 40%;
    margin-left: 4%;
  }
  .max-width {
    padding: 0 90px;
  }
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
  .about .about-content .column,
  .skills .skills-content .column,
  .blog .blog-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
  .about .about-content .left {
    display: flex;
    margin: 0 auto 60px;
    justify-content: center;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .services .serv-content .services-card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .project .portfolio-img img {
    width: 400px;
    height: 200px;
  }
}
